body {
  padding: 10px;
  font-family: sans-serif;
}

img {
	width: 100%;
}

#imgPreview, #eImgPreview {
	display: block;
	margin: 0 auto 1em auto;
	width: 40%;
}

.elapsed-time {
	padding-right: 0.5em;
}